@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .shadow-bottom {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }

    .font-nunito-sans {
        font-family: 'Nunito Sans', sans-serif;
    }

    .shadow-card {
        box-shadow: 0px 4px 4px 0px #00000040;
        box-shadow: 0px 25px 40px 0px #0000000D;

    }

}